In [1]:
import pandas as pd   #for reading the file and interpretation

In [16]:
data=pd.read_json('test.csv')     #for reading csv file
print("value of data: ",data)
print("\nDatatype of data variable: ",type(data))
data

value of data:     Name  Age
0  Arun   20

Datatype of data variable:  <class 'pandas.core.frame.DataFrame'>

   Name  Age
0  Arun   20

In [3]:
data.info()    #for getting info of file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   {"Name":["Arun"]  1 non-null      object
 1   Unnamed: 1        0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes

In [4]:
dict={'Name':["Arun","Varun"],
      'Age':[20,22],
      'Type':["Good","Better"]
     }
print(dict)
dfOfDict=pd.DataFrame(dict)
dfOfDict

{'Name': ['Arun', 'Varun'], 'Age': [20, 22], 'Type': ['Good', 'Better']}

    Name  Age    Type
0   Arun   20    Good
1  Varun   22  Better

In [5]:
#for sql
'''connection="address to sql server"
data=pd.read_sql(connection)'''

'connection="address to sql server"\ndata=pd.read_sql(connection)'

In [6]:
dfOfDict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
 2   Type    2 non-null      object
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [7]:
dfOfDict.to_csv('create.csv',index=False)

In [8]:
dfOfDict.head()   #it prints first few values of the file
dfOfDict.tail()   #it prints last 5 values of the file by default

    Name  Age    Type
0   Arun   20    Good
1  Varun   22  Better