# Heading 1
## Heading 2
### Heading 3
**BOLD TEXT**

*Italic Text*
- Item 1
- Item 2

# To read from a zip file:
- unzip the file
- use import libraries which are necessary
- read the file in a variable acc. to its type(eg: pd.read_csv('path of file')
- convert the variable into dataframe using df=pd.DataFrame(var)
- to check proper reading of file,use df.head() & df.tail() for validation.
- extract the information (no. of columns,dtype of cols,no of rows,cols with null values) of data file.
- specifically,get information of the null value count in each col using isnull()
- if no. of count and entries are more,then calculate the % of null values present.

In [1]:
import pandas as pd
import numpy as np

In [2]:
file=pd.read_csv('./internshipData/sportsdata.csv',low_memory=False)

In [3]:
print("\nPrinting starting values:")
file.head()

Printing starting values:

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [4]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362447 entries, 0 to 362446
Columns: 102 entries, Date to Season
dtypes: float64(33), int64(31), object(38)
memory usage: 282.1+ MB

In [5]:
print("\nPrinting end values:")
file.tail()

Printing end values:

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.0,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.0,2016
362443,2017-01-01,2017010102,20,4,NaN,00:13,1,13.0,9.0,GB,...,NaN,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,NaN,NaN,2016
362444,2017-01-01,2017010102,21,4,NaN,00:13,1,13.0,0.0,DET,...,NaN,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,NaN,NaN,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,NaN,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,NaN,NaN,2016
362446,2017-01-01,2017010102,21,4,NaN,00:00,0,0.0,12.0,DET,...,NaN,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,NaN,NaN,2016


- *file.shape : This returns a tuple representing the dimensions of the DataFrame. For example, (n_rows, n_columns).*
- *np.prod(): This function computes the product of the elements in an array. Here, it calculates the product of the number of rows and columns in the DataFrame.*

    *Purpose: This gives the total number of elements in the DataFrame.
    Example: If file.shape is (100, 5), then totalValue would be 100 * 5 = 500.*

In [6]:
file.isnull()    #used to check null values
null_Val=file.isnull().sum()  #returning total null values of each column
print("No. of null values: ",null_Val)

totalValue=np.prod(file.shape) #returning total no of values in the file
totalNullValues=null_Val.sum()
missing_percentage=(totalNullValues/totalValue)*100


print("% of missing values:",missing_percentage,"%")

No. of null values:  Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64
% of missing values: 27.652267428200588 %

*When we were printing the total null values of all the cols,it wasn't showing all the cols,instead it was showing ... in between,so if we want to view the null values of all the cols,we print lesser cols(max 60)*

In [7]:
print("First 15 columns with null value count:")   
null_Val[:15]

First 15 columns with null value count:

Date                0
GameID              0
Drive               0
qtr                 0
down            54218
time              188
TimeUnder           0
TimeSecs          188
PlayTimeDiff      374
SideofField       450
yrdln             723
yrdline100        723
ydstogo             0
ydsnet              0
GoalToGo          723
dtype: int64

In [8]:
print("Next 15 columns with null value count:")
null_Val[15:30]

Next 15 columns with null value count:

FirstDown         25597
posteam           21979
DefensiveTeam     21979
desc                  2
PlayAttempted         0
Yards.Gained          0
sp                    0
Touchdown             0
ExPointResult    353399
TwoPointConv     361919
DefTwoPoint      362433
Safety                0
Onsidekick            0
PuntResult       342560
PlayType              0
dtype: int64

In [9]:
print("Next 60 columns with null value count:")   
null_Val[30:90]

Next 60 columns with null value count:

Passer                         213358
Passer_ID                      210885
PassAttempt                         0
PassOutcome                    212823
PassLength                     213772
AirYards                            0
YardsAfterCatch                     0
QBHit                               0
PassLocation                   213772
InterceptionThrown                  0
Interceptor                    358387
Rusher                         255254
Rusher_ID                      252165
RushAttempt                         0
RunLocation                    256187
RunGap                         284605
Receiver                       218647
Receiver_ID                    222265
Reception                           0
ReturnResult                   346547
Returner                       339535
BlockingPlayer                 362341
Tackler1                       147183
Tackler2                       318045
FieldGoalResult                354431
FieldGoalDistance              354528
Fumble                              0
RecFumbTeam                    358513
RecFumbPlayer                  358513
Sack                                0
Challenge.Replay                    0
ChalReplayResult               359476
Accepted.Penalty                    0
PenalizedTeam                  336362
PenaltyType                    347849
PenalizedPlayer                337483
Penalty.Yards                       0
PosTeamScore                    23682
DefTeamScore                    23682
ScoreDiff                       21975
AbsScoreDiff                    23682
HomeTeam                            0
AwayTeam                            0
Timeout_Indicator                   0
Timeout_Team                   347538
posteam_timeouts_pre                0
HomeTimeouts_Remaining_Pre          0
AwayTimeouts_Remaining_Pre          0
HomeTimeouts_Remaining_Post         0
AwayTimeouts_Remaining_Post         0
No_Score_Prob                     148
Opp_Field_Goal_Prob               148
Opp_Safety_Prob                   148
Opp_Touchdown_Prob                148
Field_Goal_Prob                   148
Safety_Prob                       148
Touchdown_Prob                    148
ExPoint_Prob                        0
TwoPoint_Prob                       0
ExpPts                            148
dtype: int64

In [10]:
print("Remaining columns with null value count:")
null_Val[90:]

Remaining columns with null value count:

EPA                322
airEPA          220641
yacEPA          220734
Home_WP_pre      21943
Away_WP_pre      21943
Home_WP_post     23360
Away_WP_post     23360
Win_Prob         21993
WPA               4817
airWPA          220738
yacWPA          220956
Season               0
dtype: int64

- file.dropna() : this will delete rows by default
- file.dropna(axis=1) : only the values of cols will be deleted

In [12]:
fileProcessed=file.dropna(axis=1)

In [13]:
print("No. of cols in original DF:",file.shape[1])
print("No. of cols in processed DF:",fileProcessed.shape[1])

No. of cols in original DF: 102
No. of cols in processed DF: 37